<div class=" container">
    <h3 style="color: blueviolet;text-align: center;">Angular CRUD Application with JSON Server </h3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info"> 
    <div class="container-fluid">
      <a class="nav-barnd" href="#">Home </a>
      <input class="form-control mr-sm-2" style="width: 300px;border-radius: 5px;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" routerLink="item/create" type="submit">Add+</button>
    </div>


  </nav>

</div>



<router-outlet></router-outlet>